<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
    <% if (htmlWebpackPlugin.files.favicon) { %>
      <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <% } %>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    
    <% for (const css of htmlWebpackPlugin.files.css) { %>
      <link href="<%= css %>" rel="stylesheet">
    <% } %>
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.appMountId %>"></div>

    <% const background = '/assets/' + htmlWebpackPlugin.options.webextBackground + '.js' %>
    <% for (const js of htmlWebpackPlugin.files.js) { %>
      <% if (js !== background) { %>
        <script src="<%= js %>"></script>
      <% } %>
    <% } %>

    <% if (htmlWebpackPlugin.options.webextBackground) { %>
      <iframe
        id="webext-background"
        width="0"
        height="0"
        frameborder="0"
        srcdoc="<script src='<%= background %>'></script>"
      ></iframe>
    <% } %>
  </body>
</html>
